# Selected List of Files

 Limit list of files based off seleted list of companies

In [19]:
# Packages
import pandas as pd

## Load data

In [20]:
selected_list_of_companies = pd.read_excel('selected_list_of_companies.xlsx')
selected_list_of_companies

                            0  keep
0                    115media   NaN
1               11soundboards   NaN
2                   123tvlive   NaN
3                    144Media   NaN
4                     17TRACK   NaN
...                       ...   ...
4558                     ZURU   NaN
4559  ZyxelCommunicationsCorp   NaN
4560                  zzzchan   NaN
4561       Однокла́ссникиOkru   NaN
4562                      ０７６   NaN

[4563 rows x 2 columns]

In [21]:
# limit to where keep is 1
selected_list_of_companies = selected_list_of_companies[selected_list_of_companies['keep'] == 1]
# Rename column 0 to company
selected_list_of_companies.rename(columns = {0: 'company'}, inplace = True)
# Drop keep column
selected_list_of_companies.drop(columns = ['keep'], inplace = True)
selected_list_of_companies

C:\Users\ijyli\AppData\Local\Temp\ipykernel_1064\2445167854.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_list_of_companies.rename(columns = {0: 'company'}, inplace = True)
C:\Users\ijyli\AppData\Local\Temp\ipykernel_1064\2445167854.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_list_of_companies.drop(columns = ['keep'], inplace = True)

                      company
15                  1Password
18                    23andMe
34                      4chan
51                A+ENetworks
57                         AA
...                       ...
4547                 ZoomInfo
4548             ZOOMPlatform
4549  ZoomVideoCommunications
4551                    Zoosk
4554                   Zotero

[618 rows x 1 columns]

In [22]:
list_of_files = pd.read_excel('list_of_files.xlsx')
list_of_files

                                           0
0                  115media_CookiePolicy.txt
1                       115media_privacy.txt
2                         115media_Terms.txt
3            11soundboards_PrivacyPolicy.txt
4                123tvlive_PrivacyPolicy.txt
...                                      ...
9486  ZyxelCommunicationsCorp_TermsofUse.txt
9487                         zzzchan_FAQ.txt
9488                       zzzchan_Rules.txt
9489    Однокла́ссникиOkru_PrivacyPolicy.txt
9490                   ０７６_odyseeprivacy.txt

[9491 rows x 1 columns]

In [23]:
# Rename 0 to filename
list_of_files.rename(columns = {0: 'filename'}, inplace = True)
# Get company as first part of filename before underscore
list_of_files['company'] = list_of_files['filename'].str.split('_').str[0]
list_of_files

                                    filename                  company
0                  115media_CookiePolicy.txt                 115media
1                       115media_privacy.txt                 115media
2                         115media_Terms.txt                 115media
3            11soundboards_PrivacyPolicy.txt            11soundboards
4                123tvlive_PrivacyPolicy.txt                123tvlive
...                                      ...                      ...
9486  ZyxelCommunicationsCorp_TermsofUse.txt  ZyxelCommunicationsCorp
9487                         zzzchan_FAQ.txt                  zzzchan
9488                       zzzchan_Rules.txt                  zzzchan
9489    Однокла́ссникиOkru_PrivacyPolicy.txt       Однокла́ссникиOkru
9490                   ０７６_odyseeprivacy.txt                      ０７６

[9491 rows x 2 columns]

## Perform selection via inner join

In [24]:
selected_list_of_files = list_of_files[list_of_files['company'].isin(selected_list_of_companies['company'])][['filename']]

# Output to excel
selected_list_of_files.to_excel('selected_list_of_files.xlsx', index = False)

selected_list_of_files

                                  filename
26    1Password_AgileBitsPrivacyPolicy.txt
27            1Password_TermsofService.txt
30        23andMe_CenforceProfessional.txt
31                23andMe_CookiePolicy.txt
32               23andMe_PrivacyPolicy.txt
...                                    ...
9469   Zoosk_ElectronicRecordsDisclosu.txt
9470               Zoosk_PrivacyPolicy.txt
9471         Zoosk_TermsofUseAgreement.txt
9476              Zotero_Privacypolicy.txt
9477             Zotero_Termsofservice.txt

[1623 rows x 1 columns]